{% comment %}
  The product card snippet is passed a liquid object, used in this file
  as "product". The object is either "product" or "item", the latter if
  it is from search results.
{% endcomment %}
<div class="grid-item {{ grid_item_width }}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">

  
  <a href="{%if variant != null %}{{ variant.url | within: collection }}{% else %} {{product.url | within: collection}} {%endif%}" class="product-grid-item">
  {% comment %} <img src="{{ variant.image.src | img_url: '480x480' }}" 
                     alt="{{ variant.image.alt | escape }}" 
                     class="product-card__image"> 
  {% endcomment %}
  
  {% if variant.image %}
  {% assign image = variant.image %}
  {%- assign max_width = width | plus: 0 -%}
          {%- assign max_height = height | plus: 0 -%}

          {%- include 'image-logic' with width: max_width, height: max_height -%}
  {% else %}
  {% assign image = product.featured_image %}
  {%- assign max_width = width | plus: 0 -%}
          {%- assign max_height = height | plus: 0 -%}

          {%- include 'image-logic' with width: max_width, height: max_height -%}
  {% endif %}
          
  <div class="product-grid-image">
    <div class="product-grid-image--centered">	
      <div class="product-card__image js" 
           style="max-width: {{ max_width }}px; margin: 0 auto;" 
           data-image-id="{{ image.id }}">
          {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="lazyload"
            data-src="{{ img_url }}"
            data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ image.alt | escape }}"
			{% comment %}style="max-height: {{ height }}px; max-width: {{ width }}px; padding:">{% endcomment %}>
      </div>
      <noscript>
        <img src="{{ variant.image.src | img_url: '480x480' }}" alt="{{ product.featured_image.alt | escape }}" class="product-card__image">
      </noscript>
    </div>
  </div>

    {% if settings.product_vendor_enable %}
      <div class="product-card__brand">{{ product.vendor }}</div>
    {% endif %}
<div class="product-grid-wrapper">
<p id="collection-product-title">{{ product.title }} {{variant.title}} </p>

    {% if product.available and product.vendor == cart.attributes.branch %}
      <div class="product-item--price" style="text-align: center;">
        <span class="h1 medium--left"  style="margin-bottom: 0">
        {% if variant.compare_at_price > variant.price %}
          {% comment %}
            Product is on sale
          {% endcomment %}
          {% if variant.price_varies %}
            {% assign sale_price = variant.price | money %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s class="product-card__regular-price">{{ variant.compare_at_price | money }}</s>

            <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {{ variant.price | money }}
          {% endif %}

        {% else %}
          {% comment %}
            Not on sale, but could still have varying prices
          {% endcomment %}
          
          <small><span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% if product.variants.size == 1 %}
            {{ product.price | money }}
            {% else %}
            {{ variant.price | money }}
            {% endif %}</small>
      </span>
        {% endif %}
        {% comment %}
        This is the old add to cart form. <form method="post" action="/cart/add"><input type="hidden" name="id" value="{{ variant.id }}" /><input type="submit" value="Add to cart" class="btn addtocart" /></form>
        {% endcomment %}
      </div>
  {% else %}
  {% if product.vendor == cart.attributes.branch %}
      <div class="product-card__availability">
        {{ 'products.product.sold_out' | t }}
      </div>
  {% else %}
  	Product unavailable at this branch.
  {% endif %}
    {% endif %}

  {% if variant.compare_at_price > variant.price %}
    {% comment %}
      A visually-hidden label before regular/sale prices clarifies
      prices for screen readers, so hide the sale tag from them.
    {% endcomment %}
    <div class="product-tag product-tag--absolute" aria-hidden="true">
      {{ 'products.product.on_sale' | t | money }}
    </div>
  {% endif %}
<!--  <div class="product-card__overlay">
    {% assign view_string_length = 'products.product.view' | t | size %}
    <span class="btn product-card__overlay-btn {% if view_string_length > 8 %} btn--narrow{% endif %}">{{ 'products.product.view' | t }}</span>
  </div>
-->
  </div>
</a>
  {% comment %} Custom code by JR Castor of Nesabel Corp. Oct, 2021. Adds an ajax add-to-cart button to the page. {% endcomment %}
  {% if product.vendor == cart.attributes.branch %}
  {% if product.available and canonical_url != "https://nesabel.com/" %}
  <form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ variant.id }}" />
  <div class="qty-wrapper"><label for="quantity">Qty: </label>
  <input min="1" type="number" id="quantity" name="quantity" value="1" />
  <input type="submit" value="Add to cart" class="btn addtocart" />
  </div>
  </form>
  {% endif %}
  {% endif %}
</div>